/********************************************
*    Open source code written by Katsumi    *
*          This script is released          *
*            under the LGPL v2.1.           *
*  http://hp.vector.co.jp/authors/VA016157/ *
*  https://github.com/kmorimatsu            *
********************************************/

body {
	background: #e0e0e0;
	width: 640px;
}
.hidden {
	display:none;
}
.bgwhite {
	background: #ffffff;
}